.img1 {
    width: 396px;
    height: 201px;
    margin-top: 50px;
}
p{text-align: center;font-size: 20px;font-style: italic;}
.one{border: solid 1px}
.n{margin:10px 0 31px 20px; font-size:30px  }
.ll{margin: 0 50px 0 50px; font-size: 25px}